.App {
  text-align: center;
  background-color: #262933;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#panels {
    min-width: 100vw;
    flex: 1 0 1px;
    display: flex;
}

#info {
    flex: 3 3 100px;
}
#menu {
    background-color: #ededed;
    flex: 12 12 100px;
    border-radius: 16px;
    margin: 16px;
}
#cart {
    flex: 5 5 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
#cart-list {
    background-color: #ffffff;
    border-radius: 16px;
    flex: 1 0 auto;
    margin: 16px 16px 0px 16px;
}
#checkout {
    background-color: #d9ffd2;
    border-radius: 16px;
    margin: 16px;
    flex: 0 0 3em;
}

#checkout-btn{
    background-color: #d9ffd2;
    border-radius: 16px;
    margin: 16px;
    flex: 0 0 3em;
}

